.content {
    max-width: 500px;
    margin: auto;
    color: black;
}

.result {
    margin-top: 20px;
    text-align: center;
    background-color: #e3dbdb;
    padding: 10px;
    border-radius: 10px;
}

body {
    background-color: pink;
}
